#container {
    width: 600px;
    height: 600px;
}

.info-window {
    text-align: center;
}
.info-window img {
    height: 200px;
}

@media screen and (max-width: 575px) {
    * {
        margin: 0;
    }
    #container {
        width: 100vw;
        height: 70vh;
    }
    .util-wrapper {
        margin: .5rem;
    }
}